{{#each articles }}
  <div class="article card">
    <img class="card-img-top" src={{ this.imageUrl }} alt="Article Image">
    <div class="card-body">
      <h5 class="card-title">{{ this.title }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ this.category }}  •  {{ this.date }}</h6>
      <p class="card-text">{{ this.summary }}</p>
      <a class="btn btn-primary" href="{{ this.link }}" target="_blank">Article Link</a>
      <button class="btn btn-primary article-comments" article-id="{{ this._id }}">Comments</butt>
    </div>
  </div>
{{/each}}